<!DOCTYPE html>
{% extends 'base.html' %}
{%block body_block%}

<h1>My Friends({{friends.all.count}})</h1>
{%if friends%}
    {%for friend in friends%}
        <div class="container mt-5">
            <div class="row justify-content-center mt-5">
                <div class="card col-md-8 col-sm-12 shadow-sm ">
                    {%if friend.profile.image%}
                    <div class="card col-md-6">
                        <img src="{{friend.profile.image.url}}" class="author" alt="" width="100px" height="200px">
                    </div>
                    {%endif%}
                   <div class="card col-md-6 mt-2">
                        <h2><span>{{friend.first_name}} </span>&nbsp;{{friend.last_name}}</h2>

                    </div>
                </div>
            </div>
        </div>
    {%endfor%}
{%else%}
 <div class="row justify-content-center mt-5">
    <h1>No friends yet!</h1>
 </div>

{%endif%}

{%endblock%}

