<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- CSS only -->

    <title>Welcome to Social</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/font-awesome.css' %}" rel="stylesheet">
    <style>
      .welcome{
      margin-left:800px;
      }
      .btn{
      margin-left:300px;
      }
         h1{
      text-align:center;
      }
      #request{
        margin-top:46px;
        margin-left:-3px;
      }
      #request1{
        margin-top:-4px;
        margin-left:-154px;
        margin-bottom:50px;
      }
      h2{
      margin-left:285px;
      }
      #list{
      margin-top:10px;
      margin-left:285px;
      }


    </style>
`     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>

  <body>

    <!-- HEADER SECTION -->
    <header>
      <div class="container">
        <img src="{% static 'main/img/logo.png' %}" alt="Dobbler Logo" class="logo">

      </div>
      </div>
    </header>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="{%url 'timeline' %}">Home</a></li>
            <li><a href="{%url 'myposts'  %}">MyPosts</a></li>
            <li><a href="{%url 'friends'  %}">People</a></li>
            <li ><a href="{% url 'friendslist' user.profile.id %}">MyFriends</a></li>
              <li ><a href="{% url 'requests' %}">Requests</a></li>
            <li ><a href="{%url 'profileview' user.profile.pk%}">Profile</a></li>

            <li><a href="{% url 'inbox' %}" class="inbox-icon">Inbox</a></li>

          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

    {% for user in users%}
    {% if user not in request.user.friends.all and user != request.user%}
    <div class="container mt-5">
        <div class="card"></div>
            <div class="row justify-content-center mt-5">
                <div class="card col-md-6 ">
                    <img src="{{user.image.url}}" id="list" class="author" width="100px" height="100px" alt="">
                    <h2>{{user}}</h2>

                </div>
                <div class="card col-md-6 mt-3">
                    <button id="request" class="btn btn-warning"><a href="{%url 'sendrequest' user.id%}">Send friend request</a></button>

                    {% if messages %}
                        <ul class="messages">
                                {% for message in messages %}
                            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
       {%endif%}
    {%endfor%}







  </body>
</html>

