<!doctype html>
{% extends 'base.html' %}
{%block body_block%}


     <!-- RECENT POST -->
            <h1>My Posts</h1>
            <div class="panel panel-default post">
              <div class="panel-body">
                <div class="row justify-content-center mt-5">
                  <div class="col-sm-2">
                      {%if my_posts%}
                        {% for post in my_posts %}


                  </div>
                    <div class="bubble">
                          <div class="col-sm-10">
                                 {%if post.author.image%}
                                <p><img src="{{post.author.image.url}}" class="author" height="100px" width="100px" alt=""></p>
                            {%endif%}
                           <strong> <h4>Me</h4></strong>
                            <p>{{post.created}}</p>
                              <p>{{post.content}}</p>
                    </div>
                    <div class="pointer">
                        {%if post.image%}
                            <p><img src="{{post.image.url}}" width="700px" height="500px" alt=""></p>
                        {%endif%}

                        <a href="{%url 'update' post.id%}"><button id='update' class="btn btn-warning" >Update</button></a>
                         <a href="{%url 'delete' post.id%}"><button id='danger' class="btn btn-danger" >Delete</button></a>
                    </div>
                        {%endfor%}
                  </div>
                </div>
              </div>
            </div>
            {%else%}
            <div class="bubble">
                <h1>No posts to show</h1>
            {%endif%}
           </div>
{%endblock%}